<div class="aside">
  <h5>Posts</h5>
  
  <ul class="tabs" data-tabs id="posts">
    <li class="tabs-title is-active">
      <a href="#latest" aria-selected="true"><h6>latest</h6></a>
    </li>
    <li class="tabs-title">
      <a data-tabs-target="popular" href="#popular"><h6>popular</h6></a>
    </li>
    <li class="tabs-title">
      <a data-tabs-target="comments" href="#comments"><h6>comments</h6></a>
    </li>
  </ul>
  <div class="tabs-content" data-tabs-content="posts">
    <div class="tabs-panel is-active" id="latest">
      <a class="media-object align-middle">
        <div class="media-object-section">
          <img src="assets/img/ak1.jpg">
        </div>
        <div class="media-object-section">
          <h6>Magna mollis ultricies</h6>
          <time datetime="" class="subheader">3th oct 2012</time>
        </div>
      </a>
      <a class="media-object align-middle">
        <div class="media-object-section">
          <img src="assets/img/ak2.jpg">
        </div>
        <div class="media-object-section">
          <h6>Magna mollis ultricies</h6>
          <time datetime="" class="subheader">3th oct 2012</time>
        </div>
      </a>
      <a class="media-object align-middle">
        <div class="media-object-section">
          <img src="assets/img/ak3.jpg">
        </div>
        <div class="media-object-section">
          <h6>Magna mollis ultricies</h6>
          <time datetime="" class="subheader">3th oct 2012</time>
        </div>
      </a>
    </div>
    <div class="tabs-panel" id="popular">
      2
    </div>
    <div class="tabs-panel" id="comments">
      3
    </div>
  </div>
</div>