<header style="background-image: url(/assets/img/bg-main.jpg);">

	<div class="akad-menu">
		<div class="title-bar align-right" data-responsive-toggle="animated-menu" data-hide-for="medium">
		  <button class="menu-icon" type="button" data-toggle></button>
		</div>
		
			<div class="top-bar" id="animated-menu" data-animate="hinge-in-from-top spin-out">
				<div class="top-bar-left">
					<a href="#">
						<span class="menu-text">Akad.</span>
					</a>
				</div>
				  <div class="top-bar-right">
				    <ul class="dropdown menu" data-dropdown-menu>
				      <li><a href="#">Home</a></li>
				      <li><a href="#">Blog</a></li>
				      <li><a href="#">About us</a></li>
				      <li><a href="#">Contacts</a></li>
				    </ul>
				  </div>
			</div>
		</div>
	<div>

		<div class="grid-container">
			<div class="grid-x grid-margin-x">
				<div class="cell large-6 large-offset-3 text-center">
					<h1>blog posts</h1>
					<nav aria-label="You are here:" role="navigation">
					  <ul class="breadcrumbs">
					    <li><a href="#">Home</a></li>
					    <li>
					      <span class="show-for-sr">Current: </span> Blog
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>