<div class="card">
  <img src="assets/img/akad1.jpg">
  <div class="card-section">
  	<div class="card-stat">
  		<time class="tag tag-brand" datetime="">October 13, 2015</time>
  		<span class="card-stat-comments"><i class="icon ion-md-chatbubbles"></i> 8</span>
  		<span class="card-stat-likes"><i class="icon ion-md-heart"></i> 15</span>
  	</div>
  	<h4>THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <a href="#" class="card-link">continue reading <i class="icon ion-md-arrow-round-forward"></i>
	</a>
  </div>
</div>

<div class="card">
  <img src="assets/img/akad1.jpg">
  <div class="card-section">
  	<div class="card-stat">
  		<time class="tag tag-brand" datetime="">October 13, 2015</time>
  		<span class="card-stat-comments"><i class="icon ion-md-chatbubbles"></i> 8</span>
  		<span class="card-stat-likes"><i class="icon ion-md-heart"></i> 15</span>
  	</div>
  	<h4>THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <a href="#" class="card-link">continue reading <i class="icon ion-md-arrow-round-forward"></i>
	</a>
  </div>
</div>

<div class="card">
  <img src="assets/img/akad1.jpg">
  <div class="card-section">
  	<div class="card-stat">
  		<time class="tag tag-brand" datetime="">October 13, 2015</time>
  		<span class="card-stat-comments"><i class="icon ion-md-chatbubbles"></i> 8</span>
  		<span class="card-stat-likes"><i class="icon ion-md-heart"></i> 15</span>
  	</div>
  	<h4>THE BIG LEAGUES OUR TURN STRAIGHTNIN</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
    <a href="#" class="card-link">continue reading <i class="icon ion-md-arrow-round-forward"></i>
	</a>
  </div>
</div>